footer.footer
    .uk-container
        .footer_body.uk-grid(class="uk-child-width-1-2@s uk-child-width-1-1", uk-grid="")
            div
                .footer_body_left.uk-flex.uk-flex-middle Antares Creative Group 2018
            div
                .footer_body_right.uk-flex.uk-flex-middle.uk-flex-right
                    span.uk-margin-small-left(uk-icon="facebook")
                    span.uk-margin-small-left(uk-icon="instagram")                           
                    span.uk-margin-small-left  
                        i.fa.fa-vk
                    span.uk-margin-small-left(uk-icon="vkontakte")
                    span.uk-margin-small-left(uk-icon="twitter")
                    span.uk-margin-small-left(uk-icon="youtube")