

//componets

@import 'componets/breadcrumb'
@import 'componets/button'
@import 'componets/modal'

// assets

@import 'assets/_fonts'
@import 'assets/_vars'
@import 'assets/_keyframes-animate'
@import 'assets/_header'
@import 'assets/_footer'

// style

.height
    height: 100vh
    box-sizing: border-box
    img
        animation: tadam 3.6s linear infinite
        transform-origin: 50% 50%


// media

@import 'assets/_media'