//- button mixins

mixin BDU(url, text)
    a.uk-button.uk-button-default(href= url)= text

mixin BDS(text)
    button(type="submit").uk-button.uk-button-default= text

//- form mixins

mixin FI(classname, id, type, plc)
    .uk-margin
        input(class= classname, id= id,  type= type, placeholder= plc)

mixin FT(classname, id, rows, plc)
    .uk-margin
        textarea(class= classname, id= id,  rows= rows, placeholder= plc)

mixin FS(classname, id)
    .uk-margin
        select(class= classname, id= id)
            option 1
            option 2
            option 3