doctype
html(lang="ru")
    head
        include assets/_metas.pug
        include assets/_links.pug
        
    body.uk-animation-fade 
        .clients_header   
            include ../components/header-white.pug
        .client
            .uk-container.uk-container-small
                .client_title Наши клиенты

                div.client_block
                    .uk-position-relative
                        ul.uk-grid.uk-grid-match.uk-flex.uk-flex-middle(class="uk-child-width-1-5@m uk-child-width-1-4@s uk-child-width-1-2")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0" )
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0" )
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0" )
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")
                            li.client_block_item.uk-margin-medium-bottom
                                div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img.filter(src="img/png/beeline.png", alt="samsung", uk-cover) 
                                    canvas(width="120", height="60")                             

                    ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin-medium
        

    
        include ../components/footer.pug
        include assets/_scripts.pug