doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
	body
		include assets/_scripts.pug
		include assets/_header.pug
		
		section 
			.uk-container
				h1 next-page 2 3
		include assets/_footer.pug
		