doctype
html(lang="ru")
    head
        include assets/_metas.pug
        include assets/_links.pug
        
    body.uk-animation-fade
        .banner.player.uk-panel(style='height: 875px')
            include ../components/header.pug
            .uk-container
                .player_body.uk-grid(uk-grid="")
                    div(class='uk-width-expand@m')
                        .player_body_item(data-thumb='img/jpg/size200x200/1.jpg')
                            img(src='img/jpg/instead-video/1.jpg', width="970px", height="474px")  
                            .player_body_title БИЛАЙН. Тарифный план «Суйло»
                            .player_body_desc Описание
                            .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper

                    div(class='uk-width-1-3@m')
                        .player_body_clear
                            a(href="https://www.google.com/")
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/1.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/2.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/3.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/4.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/5.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/6.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/7.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/8.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/9.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/10.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")
                                .swiper-slide.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/11.jpg", alt="picture", uk-cover)
                                    canvas(width="200", height="200")

                            .swiper-button-next
                            .swiper-button-prev
                    


                    //- ul#vertical(style="margin-bottom: 70px")
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/1.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/1.jpg', width="900px", height="474px")  
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/2.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/2.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/3.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/3.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/4.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/4.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/5.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/5.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/6.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/6.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/7.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/7.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/8.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/8.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                    //-     li.player_body_item(data-thumb='img/jpg/size200x200/9.jpg', style="margin-bottom: 20px !important")
                    //-         img(src='img/jpg/instead-video/9.jpg') 
                    //-         .player_body_title БИЛАЙН. Тарифный план «Суйло»
                    //-         .player_body_desc Описание
                    //-         .player_body_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet tempor massa fermentum quis. Donec eu libero sodales, rhoncus turpis a,commodo tellus. Donec nisl ipsum, imperdiet ut volutpat vel, finibus quis lectus. Quisque eget mauris sem.Nunc et lacus sed arcu imperdiet dignissim. Cras ullamcorper
                       
        include ../components/footer.pug
        include assets/_scripts.pug