doctype
html(lang="ru")
    head 
        include assets/_metas.pug 
        include assets/_links.pug  
           
    body.uk-animation-fade
        #fullpage
            .section 
                h1
                    | Scroll down full page NOW
                h1
                h2 for this one weird trick the web developers don't want you to know
            .section
                h2 For just one simple payment of $0...
            .section
                h2
                    | You can have full page scroll 
                    strong AND
                    |  a scrollbar.
            .section
                h2
                    | Don't wait, download here: 
                    a(href='https://github.com/alvarotrigo/fullPage.js') fullPage.js at github