doctype
html(lang="ru")
    head
        include assets/_metas.pug
        include assets/_links.pug 
        
    body.uk-animation-fade  
        .team_header    
            include ../components/header-white.pug
        .team.uk-margin-large-bottom
            .uk-container 
                .client_title.team_title(style="margin-bottom: -20px !important") КОМАНДА  
                .team_text.uk-margin-medium-top.uk-margin-medium-bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ex arcu, dictum finibus libero consequat in.Donec suscipit quis tortor id ullamcorper. Etiam dictum fringilla sapien, in efficitur augue tempus eget. Morbicommodo quam lorem, sit amet
                .uk-grid.uk-grid-collapse.uk-grid-match.uk-text-center(class="uk-child-width-1-4@m uk-child-width-1-2", uk-grid)
                    .team_item  
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")                     

                    .team_item  
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")                    
                    .team_item
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")                    
                    .team_item
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")    
                    .team_item  
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")                    

                    .team_item  
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")                    
                    .team_item
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")                    
                    .team_item
                        div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                            img(src="img/jpg/man.jpg", alt="picture", uk-cover)
                            canvas(width="300", height="360")
                            #over.uk-overlay-primary.uk-position-cover
                            .uk-overlay.uk-position-bottom.uk-light
                                .team_item_name Азамат Исраилов
                                .team_item_status Арт-директор
                            .banner_slide_overlay.uk-transition-slide-bottom.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary(style="top: 110px;background: rgb(227,6,19) !important")
                                .banner_slide_overlay_title.team_item_title Иван Стоянов 
                                .banner_slide_overlay_text.team_item_text Сценарист
                                .team_item_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui ex, euismod vitae enim in, pulvinar sollicitudin urna. Etiam vestibulum augue
                                .team_item_link
                                    span.team_item_link_first
                                        a(href="")
                                            img(src="img/svg/rectangle-copy.svg", alt="svg", width="20px", height="20px")
                                    span.team_item_link_second
                                        a(href="")
                                            img(src="img/svg/facebook.svg", alt="svg", width="20px", height="20px")    

    
        include ../components/footer.pug
        include assets/_scripts.pug