doctype
html(lang="ru")
    head
        include assets/_metas.pug
        include assets/_links.pug
    body.uk-animation-fade
        .banner.works.uk-panel(style=' height: 802px')
            include ../components/header.pug
            .uk-container
                div.uk-grid.banner_mobile(uk-grid='')
                    div(class="uk-width-1-5@m")
                        div.banner_tab
                            ul.uk-list 
                                li 
                                    a(href='#') Все
                                li
                                    a(href='#') Реклама
                                li 
                                    a(href='#') Спорт 
                                li
                                    a(href='#') Истории
                                li
                                    a(href='#') Клипы 
                    div.banner_right(class="uk-width-expand@m")
                        div.banner_slide.uk-position-relative.uk-visible-toggle(uk-slider="", class="uk-visible@m")
                            ul.uk-slider-items.uk-grid.uk-grid-collapse.banner_slide_item
                                li
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/1.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="player.html") Смотреть   
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/2.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/3.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 

                                li
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/4.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть  
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/5.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/6.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 
                                li
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/7.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть  
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/8.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/9.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 
                                li
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/7.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть  
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/8.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 
                                    br
                                    div.uk-cover-container.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                        img(src="img/jpg/size200x200/9.jpg", alt="picture", uk-cover)
                                        canvas(width="200", height="200")
                                        .banner_slide_overlay.uk-transition-fade.uk-position-cover.uk-position-small.uk-overlay.uk-overlay-primary
                                            .banner_slide_overlay_title Билайн 
                                            .banner_slide_overlay_text Тарифный план «Суйло»
                                            .banner_slide_overlay_link.uk-button.uk-button-text  
                                                a(href="") Смотреть 
                                
                                            
                            a.uk-position-top-right.banner_slide_previous(href='#',  uk-slider-item='previous')
                            a.uk-position-top-right.banner_slide_next(href='#', uk-slider-item='next')
                        div.mobslide.uk-margin-large-bottom.uk-grid(class="uk-hidden@m uk-child-width-1-2@s uk-child-width-1-1", uk-grid)
                            div 
                                div.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/11.jpg", alt="picture")
                                    .mobslide_slide.uk-overlay.uk-overlay-default.uk-position-bottom.uk-grid(uk-grid="")
                                        div(class="uk-width-expand")
                                            div
                                                .mobslide_title Билайн 
                                                .mobslide_text Тарифный план «Суйло» 
                                        div(class="uk-width-1-3").uk-flex.uk-flex-right
                                            div 
                                                a(href="") 
                                                    img(src="img/svg/play.svg", alt="play", width="30px", height="30px")
                                        
        
                            div 
                                div.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/11.jpg", alt="picture")
                                    .mobslide_slide.uk-overlay.uk-overlay-default.uk-position-bottom.uk-grid(uk-grid="")
                                        div(class="uk-width-expand")
                                            div
                                                .mobslide_title Билайн 
                                                .mobslide_text Тарифный план «Суйло» 
                                        div(class="uk-width-1-3").uk-flex.uk-flex-right
                                            div 
                                                a(href="") 
                                                    img(src="img/svg/play.svg", alt="play", width="30px", height="30px")        
                            div 
                                div.uk-display-inline-block.uk-inline-clip.uk-transition-toggle( tabindex="0")
                                    img(src="img/jpg/size200x200/11.jpg", alt="picture")
                                    .mobslide_slide.uk-overlay.uk-overlay-default.uk-position-bottom.uk-grid(uk-grid="")
                                        div(class="uk-width-expand")
                                            div
                                                .mobslide_title Билайн 
                                                .mobslide_text Тарифный план «Суйло» 
                                        div(class="uk-width-1-3").uk-flex.uk-flex-right
                                            div 
                                                a(href="") 
                                                    img(src="img/svg/play.svg", alt="play", width="30px", height="30px")                                               
        hr.works_hr
        include ../components/footer.pug
        include assets/_scripts.pug