@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato/Lato-Regular.ttf");
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.woff"); }

@font-face {
  font-family: "LucidaGrande", sans-serif;
  src: url("../fonts/LucidaGrande/LucidaGrande.ttf");
  src: url("../fonts/LucidaGrande/LucidaGrande.eot");
  src: url("../fonts/LucidaGrande/LucidaGrande.woff"); }

.header_container {
  background: transparent !important;
  height: 60px !important; }

.header_right_list_item {
  text-transform: none !important;
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header_right_list_item_mob {
    color: #000000 !important; }
    .header_right_list_item_mob:hover {
      color: #e30613 !important; }
  .header_right_list_item:hover {
    color: #e30613 !important;
    font-weight: bold !important; }
  .header_right_list_item span {
    width: 50px;
    height: 30px;
    border: 2px solid rgba(217, 217, 217, 0.1); }
    .header_right_list_item span:hover {
      background: rgba(216, 216, 216, 0.1); }
    .header_right_list_item span a {
      font-family: "Lato", sans-serif !important;
      font-size: 14px !important;
      color: #ffffff !important;
      text-decoration: none !important;
      -webkit-transition: 0.3;
      transition: 0.3; }
      .header_right_list_item span a:hover {
        color: #e30613 !important;
        font-weight: 700; }
  .header_right_list_item_clients span {
    background: #dfe6e9 !important; }
    .header_right_list_item_clients span a {
      color: #1f2231 !important; }
      .header_right_list_item_clients span a:hover {
        color: #e30613 !important; }
  .header_right_list_item_clients span.unactive {
    background: #ffffff !important; }

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px; }

.header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #000000;
  text-align: center; }

.banner_right {
  padding-right: 140px; }

.banner_tab {
  margin-top: 63px;
  padding-right: 84px; }
  .banner_tab ul li a {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    letter-spacing: 1.1px;
    text-transform: none;
    font-size: 16px;
    text-decoration: none;
    padding-left: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .banner_tab ul li a:hover {
      color: #e30613;
      font-family: "Lato", sans-serif;
      border-left: 2px solid #e30613;
      letter-spacing: 1.1px;
      font-weight: bold;
      text-transform: none;
      font-size: 16px; }

.banner_slide {
  width: 800px; }
  .banner_slide_overlay.uk-overlay-primary {
    background: rgba(227, 6, 19, 0.7) !important;
    margin: -10px !important; }
  .banner_slide_item {
    padding-top: 63px; }
  .banner_slide_overlay_title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase; }
  .banner_slide_overlay_text {
    margin-top: 4px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px; }
  .banner_slide_overlay_link {
    margin-top: 75px;
    text-transform: none !important; }
    .banner_slide_overlay_link a {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: #ffffff;
      text-decoration: none; }
  .banner_slide_previous:before {
    content: url(../img/svg/arrow-left.svg);
    position: absolute;
    width: 11px;
    height: 17px;
    top: 20px;
    right: 80px !important; }
  .banner_slide_next:before {
    content: url(../img/svg/arrow-right.svg);
    position: absolute;
    width: 11px;
    height: 17px;
    top: 20px;
    right: 0; }

#over.uk-overlay-primary.uk-position-cover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 14, 43, 0)), to(rgba(227, 6, 19, 0.25)));
  background: -webkit-linear-gradient(top, rgba(243, 14, 43, 0), rgba(227, 6, 19, 0.25));
  background: linear-gradient(to bottom, rgba(243, 14, 43, 0), rgba(227, 6, 19, 0.25)); }

.player {
  background-image: -webkit-radial-gradient(#383a47 5%, #1f2231 0%);
  background-image: radial-gradient(#383a47 5%, #1f2231 0%);
  background-size: 7% 10%;
  /* Controls Spacing, First value will scale width, second, height between dots */ }
  .player_body {
    margin-top: 40px;
    position: relative; }
    .player_body_title {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.9px;
      color: #ffffff;
      margin-top: 20px;
      margin-bottom: 10px; }
    .player_body_desc {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1.4px;
      color: #ffffff; }
    .player_body_text {
      font-size: 15px;
      letter-spacing: 1.1px;
      color: #ffffff;
      width: 900px; }
    .player_body_clear {
      cursor: pointer; }
      .player_body_clear a {
        content: url(../img/svg/clear.svg);
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        right: 0; }
    .player_body_item {
      height: 690px !important;
      width: 895px !important; }

.swiper-button-prev:before {
  content: url(../img/svg/arrow-down.svg);
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0; }

.swiper-button-next:before {
  content: url(../img/svg/arrow-up.svg);
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: none !important;
  right: 72px !important; }

.swiper-button-prev {
  top: 94%; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: none !important;
  left: 10px;
  right: auto; }

.swiper-button-next {
  top: 81.5%; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 346px !important; }

.swiper-container {
  width: 95%;
  height: 640px !important;
  padding-left: 90px; }

.swiper-slide {
  width: 200px !important;
  height: 200px !important;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer; }

.player > .header > .uk-container > .uk-navbar-container > .uk-navbar-right > .uk-navbar-nav > li > a.player_red {
  color: #e30613 !important;
  font-weight: bold; }

.about_text {
  font-family: "LucidaGrande", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
  width: 66%;
  margin: 0 auto;
  margin-top: 88px !important;
  margin-bottom: 88px  !important; }

.client {
  background-color: #f6f6f7; }
  .client_title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #000000;
    margin: 40px auto !important;
    text-align: center; }
  .client_block_item img {
    width: 200px;
    height: 100px; }

.team_title {
  margin: 60px auto !important; }

.team_text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 1.1px;
  text-align: center;
  color: #000000; }

.team_item {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 14, 43, 0)), to(rgba(227, 6, 19, 0.25)));
  background-image: -webkit-linear-gradient(top, rgba(243, 14, 43, 0), rgba(227, 6, 19, 0.25));
  background-image: linear-gradient(to bottom, rgba(243, 14, 43, 0), rgba(227, 6, 19, 0.25)); }
  .team_item_name {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: #ffffff;
    text-align: left; }
  .team_item_status {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-align: left; }
  .team_item_title {
    text-align: left;
    font-size: 20px; }
  .team_item_text {
    text-align: left;
    font-size: 18px;
    margin-top: 6px;
    font-weight: normal; }
  .team_item_desc {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
    margin-top: 4px; }
  .team_item_link {
    text-align: right; }
    .team_item_link_first {
      margin: 15px; }

.brief {
  height: 220px !important;
  background-color: #fff;
  cursor: pointer; }
  .brief_button {
    width: 300px;
    height: 56px;
    background: #e30613;
    margin: 0 auto;
    text-align: center; }
    .brief_button a {
      font-family: "Lato", sans-serif;
      font-size: 18px;
      letter-spacing: 0.7px;
      color: #ffffff;
      text-decoration: none; }

.contact {
  z-index: 1; }

#map {
  height: 400px; }

.map {
  position: relative; }
  .map_info {
    position: absolute;
    width: 320px;
    height: 190px;
    background: #e30613;
    z-index: 1;
    right: 70px;
    margin-top: 50px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #ffffff;
    padding: 30px; }
    .map_info_mod {
      position: relative !important;
      width: 100%;
      margin-top: 0;
      right: 30px;
      padding-left: 60px; }
    .map_info p span {
      color: #aa030d;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .map_info p span:hover {
        color: #ffffff; }

.footer {
  background-color: #1f2231;
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer_body_left {
    font-family: "Lato", sans-serif;
    font-size: 13;
    color: #64656a; }
  .footer_body_right span svg {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer_body_right span svg:hover {
      color: #e30613; }
  .footer_body_right span i {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer_body_right span i:hover {
      color: #e30613; }

.mobile_right {
  margin-top: -5px; }
  .mobile_right .mybutton {
    border: none !important; }
    .mobile_right .mybutton svg {
      color: #ffffff; }
  .mobile_right_black {
    margin-top: -5px; }
    .mobile_right_black .mybutton {
      border: none !important; }
      .mobile_right_black .mybutton svg {
        color: #000000; }

.works {
  background-image: -webkit-radial-gradient(#383a47 5%, #1f2231 0) !important;
  background-image: radial-gradient(#383a47 5%, #1f2231 0) !important;
  background-size: 7% 10%; }

hr.works_hr {
  border-top: 1px solid #383a47 !important;
  margin: 0 !important; }

.filter {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .filter:hover {
    -webkit-filter: none;
            filter: none; }

.clients_header > .header > .uk-container > .uk-navbar-container > .uk-navbar-right > .uk-navbar-nav > li > a.clients_red {
  color: #e30613 !important;
  font-weight: bold; }

.team_header > .header > .uk-container > .uk-navbar-container > .uk-navbar-right > .uk-navbar-nav > li > a.team_red {
  color: #e30613 !important;
  font-weight: bold; }

.service {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 14px; }
  .service_title {
    letter-spacing: 0.5px;
    text-transform: uppercase; }
  .service_text {
    font-size: 14px; }
  .service_btn {
    width: 250px;
    height: 56px;
    border: solid 2px #e30613; }

@media screen and (max-width: 1200px) {
  .banner_right {
    padding-right: 88px; }
  .banner_tab {
    padding-right: 4px; } }

@media screen and (max-width: 1080px) {
  .banner_slide {
    width: 600px; } }

@media screen and (max-width: 960px) {
  .banner_right {
    padding-right: 0; }
  .banner {
    background-image: none !important;
    height: auto !important;
    background-color: #1f2231 !important; }
    .banner_mobile {
      margin-top: -50px !important; }
  .mobslide_slide.uk-overlay-default {
    background: rgba(227, 6, 19, 0.7) !important;
    padding: 25px; }
  .mobslide_title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase; }
  .mobslide_text {
    margin-top: 4px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px; } }

@media screen and (max-width: 640px) {
  .team_item_name {
    font-size: 14px; }
  .team_item_status {
    font-size: 13px; }
  .about_text {
    width: 100%;
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .banner_slide_overlay {
    padding: 40px;
    top: 50px !important; }
    .banner_slide_overlay_title {
      font-size: 15px; }
    .banner_slide_overlay_text {
      font-size: 14px; }
    .banner_slide_overlay_desc {
      font-size: 9px; }
  .footer_body_left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer_body_right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 376px) {
  .team_item_desc {
    font-size: 9px; }
  .banner_slide_overlay {
    padding: 15px; }
    .banner_slide_overlay_title {
      font-size: 11px; }
    .banner_slide_overlay_text {
      font-size: 11px; }
    .banner_slide_overlay_desc {
      font-size: 9px; } }

@media screen and (max-width: 376px) {
  .team_item_desc {
    font-size: 8px; }
  .banner_slide_overlay {
    padding: 13px; }
    .banner_slide_overlay_title {
      font-size: 9px; }
    .banner_slide_overlay_text {
      font-size: 8px; }
    .banner_slide_overlay_desc {
      font-size: 7px; } }
