//- Файл библиотек
script(src="js/libs.min.js")
script(src="https://cdnjs.com/libraries/fullPage.js")

//- Основной файл сценариев
script(src="js/common.min.js")
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAyGjmrcs8GN9sOaFgbzAORbPOUg5MB2HE&callback=initMap')
script.
    function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: {lat: 42.884045, lng: 74.592424}
    });
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div id="firstHeading">Antares</div>'+
            '<div id="bodyContent">'+
            '<div>Creative Group</div>'+
            '</div>'+
            '</div>'; 
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });  
    var image = 'img/png/location.png';  
    var beachMarker = new google.maps.Marker({
    position: {lat: 42.884045, lng: 74.592424},
    map: map,
    icon: image
    });
        beachMarker.addListener('click', function() {
          infowindow.open(map, beachMarker);
        });
    }

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')


 