.header
    &_container
        background: transparent !important
        height: 60px !important
    &_left
    &_right
        &_list
            &_item
                text-transform: none !important 
                font-family: $lato !important
                font-size: 14px !important
                font-weight: normal
                font-style: normal
                font-stretch: normal
                line-height: normal
                letter-spacing: 1px
                color: #ffffff !important
                transition: 0.3 
                &:hover
                    color: $red !important
                    font-weight: bold !important
                span
                    width: 50px
                    height: 30px 
                    border: 2px solid rgba(216,216,216,0.1)
                    &:hover
                        background: rgba(216,216,216,0.1)
                    a 
                        font-family: $lato !important
                        font-size: 14px !important
                        color: #ffffff !important
                        text-decoration:  none !important
                        transition: 0.3 
                        &:hover
                            color: $red !important
                            font-weight: 700
                            
                        
  
